language: python
python:
  - "2.6"
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"
  - "pypy"
  - "pypy3"

install:
  - pip install -r requirements.txt
  - pip install .

script: 
  - flake8
  - nosetests --with-coverage --cover-package nested_dict
              --cover-inclusive --cover-min-percentage 85
  - if [[ $TRAVIS_PYTHON_VERSION != pypy3 ]]; then make -C docs html; fi
